* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}
.header {
    position: absolute;
    &__container {
        margin: 10px 20px;
        display: flex;
    }
    &__item-2 {
        width: 250px;
        color: rgba(255, 255, 255, 0.288);
        @media (max-width: 426px) {
            display: block;
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    &__item {
        font-family: Protest Strike;
        display: flex;
        @media (max-width: 426px) {
            display: none;
        }
    }
    &__burgerbtn {
        display: none;
        @media(max-width: 426px) {
            display: block;
        }
    }
    &__contact {
        @media (max-width: 426px) {
            display: none;
        }
    }
    &__logo {
        padding-top: 20px;
        padding-right: 20px;
        img {
            width: 45px;
            height: 45px;
        }
    }
    &__cont {
        color: rgba(255, 255, 255, 0.288);
    }
    &__elems {
        color: white;
        display: flex;
        align-items: center;
        font-size: 40px;
        gap: 150px;
    }
    &__burger {
        display: none;
        background-color: rgba(128, 128, 128, 0.719);
        border-radius: 30px;
        color: white;
        font-family: Protest Strike;
        position: absolute;
        z-index: 12388750;
        // margin-left: 1450px;
        top: 30px;
        left: 30px;
    }
    &__burger-cont {
        text-align: center;
        align-items: center;
        font-size: 24px;
        // display: none;
        width: 250px;
        height: 370px;
    }
    &__burger-item {
        padding-top: 20px;
    }
    &__burger-form {
        input {
            padding: 5px 10px;
            border: none;
            border-radius: 30px;
            outline: 0;
            width: 150px;
        }
    }
    &__burger-close {
        margin-top: 10px;
        margin-right: 10px;
        float: right;
        img {
            width: 25px;
            height: 25px;
        }
    }
    &__burgerbtn {
        display: none;
        @media (max-width: 426px) {
            position: absolute;
            display: block;
        }
        img {
            position: relative;
            top: 20px;
            width: 30px;
            height: 30px;
        }
    }
}
.main {
    &__img {
        width: 1900px;
        height: 960px;
        @media (max-width: 426px) {
            width: 425px;
            height: 300px;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__title {
        position: absolute;
        top: 100px;
        left: 550px;
        font-family: Protest Strike;
        color: white;
        font-size: 100px;
        text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.219);
        @media (max-width: 426px) {
            font-size: 40px;
            left: 50px;
            top: 30px;
        }
    }
    &__text {
        position: absolute;
        top: 400px;
        margin-left: 50px;
        color: white;
        font-size: 32px;
        font-weight: 900;
        background-color: #3f3f3f1f;
        border-radius: 30px;
        p {
            padding: 10px 30px;
        }
        @media (max-width: 426px) {
            font-size: 12px;
            top: 140px;
            margin-left: 10px;
        }
    }
    &__btn {
        background-color: #3f3f3f1f;
        position: absolute;
        color: rgba(255, 255, 255, 0.500);
        top: 670px;
        margin-left: 70px;
        border-radius: 50px;
        font-size: 28px;
        width: 450px;
        z-index: 10;
        font-family: Protest Strike;
        cursor: pointer;
        @media (max-width: 426px) {
            font-size: 12px;
            top: 250px;
            margin-left: 10px;
            width: 200px;
        }
        h2 {
            padding: 10px 25px;
        }
    }
}
.contacts {
    display: none;
    transition: transform 4s;
    position:fixed;
    justify-content:center;
    align-items:center;
    background: #B2E0EA;
    width: 1920px;
    height: 1080px;
    z-index:100;
    @media (max-width: 426px) {
        width: 420px;
        height: 300px;
    }
    input {
        outline: 0;
    }
    textarea {
        border: none;
        outline: 0;
        padding: 10px;
    }
    &__container {
        position: relative;
        border-radius: 50px;
        z-index: 2;
        width: 1100px;
        height: 600px;
        bottom: 0px;
        background-color: rgba(191, 191, 191, 0.6);
        @media (max-width: 426px) {
            border-radius: 30px;
            width: 300px;
            height: 200px;
            left: 50px;
            bottom: 40px;
        }
    }
    &__title {
        padding-left: 20px;
        font-family: Protest Strike;
        font-size: 48px;
        font-weight: 900;
        color: white;
        @media (max-width: 426px) {
            font-size: 16px;
        }
    }
    &__form {
        padding-top: 20px;
        padding-left: 45px;
        @media (max-width: 426px) {
            padding-left: 5px;
        }
        input {
            display: block;
            margin-top: 20px;
            font-size: 24px;
            height: 40px;
            background-color: #ffffffb4;
            border-radius: 50px;
            padding-left: 20px;
            border: none;
            @media (max-width: 426px) {
                font-size: 12px;
                padding-left: 10px;
                height: 15px;
                margin-top: 5px;
            }
        }
        label {
            font-size: 32px;
            font-family: Protest Strike;
            color: white;
            @media (max-width: 426px) {
                font-size: 12px;
            }
        }
    }
    &__comment {
        label {
            @media (max-width: 426px) {
                position: relative;
                bottom: 80px;
            }
        }
        textarea {
            width: 600px;
            height: 200px;
            border-radius: 0;
            padding-bottom: 170px;
            font-size: 24px;
            background-color: #ffffffb4;
            @media (max-width: 426px) {
                padding-bottom: 0;
                width: 90px;
                height: 80px;
                font-size: 12px;
                position: relative;
                bottom: 70px;
            }
        }
    }
    textarea {
        resize: none;
    }
    &__name-lastname {
        gap: 100px;
        display: flex;
        @media (max-width: 426px) {
            display: block;
            gap: 30px;
        }
    }
    &__email-comment {
        gap: 100px;
        margin-top: 40px;
        display: flex;
        @media (max-width: 426px) {
            margin-top: 10px;
            display: flex;
            gap: 30px;
        }
    }
    &__submit { 
        margin-top: 50px;
        margin-left: 400px;
        @media (max-width: 426px) {
            position: relative;
            bottom: 112px;
            margin-left: 194px;
        }
        input {
            width: 200px;
            padding-right: 30px;
            @media (max-width: 426px) {
                width: 75px;
                padding-right: 15px;
            }
        }
    }
}
