* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(255, 166, 0, 0.152);
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
}
.main {
    margin: 0;
    padding: 0;
    &__img {
        @media (max-width: 426px) {
            width: 425px;
            height: 300px;
        }
        img {
            width: 1900px;
            height: 952px;
            @media (max-width: 426px) {
                width: 100%;
                height: 100%;
            }
        }
    }
    &__title {
        font-family: Protest Strike;
        position: absolute;
        color: white;
        font-size: 150px;
        bottom: 540px;
        left: 580px;
        text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.219);
        font-weight: 900;
        @media (max-width: 426px) {
            width: 100px;
            font-size: 40px;
            left: 100px;
        }
    }
    &__row {
        position: absolute;
        display: flex;
        margin: 0 65px;
        gap: 30px;
        @media (max-width: 426px) {
            display: block;
        }

    }
    &__row-1 {
        bottom: 320px;
        @media (max-width: 426px) {
            top: 330px;
        }
    }
    &__row-2 {
        bottom: 40px;
        @media (max-width: 426px) {
            top: 1150px;
        }
    }
    &__card {
        border: solid 5px orange;
        background-color: #6363634f;
        max-width: 434px;
        width: 100%;
        height: 208px;
        border-radius: 50px;
        text-align: center;
        font-size: 24px;
        color: white;
        align-items: center;
        margin-bottom: 20px;
        p {
            padding-top: 20px;
            font-weight: 700;
        }
        @media (max-width: 426px) {
            width: 134%;
            position: relative;
            right: 53px;
            font-size: 20px;
            height: 180px;
        }
    }
    .header {
        position: absolute;
        &__container {
            width: 1830px;
            margin: 10px 30px;
            display: flex;
            @media (max-width: 426px) {
                width: 300px;
            }
        }
        &__item {
            @media (max-width: 426px) {
                display: none;
            }
        }

        &__burger-contact {
            @media (max-width: 426px) {
                padding-top: 20px;
            }
        }
        &__item-2 {
            width: 250px;
        }
        &__title {
            @media (max-width: 426px) {
                display: none;
            }
            font-family: Protest Strike;
            font-size: 28px;
            margin-right: 50px;
            color: white;
            background-color: black;
            border-radius: 50px;
            h2 {
                padding: 10px;
            }
        }
        &__item-3 {
            color: rgba(255, 255, 255, 0.288);
            text-shadow: none;
        }
        &__item {
            font-family: Protest Strike;
        }
        &__elems {
            color: white;
            display: flex;
            align-items: center;
            font-size: 40px;
            gap: 70px;
            text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.219);
        }
        &__form {
            @media (max-width: 426px) {
                display: none;
            }
            input {
                width: 250px;
                height: 50px;
                outline: 0;
                border: none;
                border-radius: 50px;
                font-family: Protest Strike;
                color: rgba(0, 0, 0, 0.577);
                font-size: 20px;
                padding-left: 20px;
            }
        }
        &__burger {
            display: none;
            background-color: rgba(128, 128, 128, 0.719);
            border-radius: 30px;
            color: white;
            font-family: Protest Strike;
            position: absolute;
            z-index: 12388750;
            // margin-left: 1450px;
            top: 30px;
        }
        &__burger-cont {
            text-align: center;
            align-items: center;
            font-size: 24px;
            // display: none;
            width: 250px;
            height: 370px;
        }
        &__burger-item {
            padding-top: 20px;
        }
        &__burger-form {
            input {
                padding: 5px 10px;
                border: none;
                border-radius: 30px;
                outline: 0;
                width: 150px;
            }
        }
        &__burger-close {
            margin-top: 10px;
            margin-right: 10px;
            float: right;
            img {
                width: 25px;
                height: 25px;
            }
        }
        &__burgerbtn {
            display: none;
            @media (max-width: 426px) {
                display: block;
            }
            img {
                position: relative;
                right: 90px;
                bottom: 10px;
                width: 30px;
                height: 30px;
            }
        }
    }
}
.map {
    margin-left: 250px;
    margin-top: 30px;
    @media (max-width: 426px) {
        margin-left: 0;
        margin-top: 1700px;
    }
    p {
        font-size: 40px;
        font-family: Protest Strike;
        font-weight: 900;
        color: black;
    }
    iframe {
        border-radius: 50px;
        @media (max-width: 426px) {
            border-radius: 0;
            max-width: 420px;
            width: 100%;
            height: 420px;
        }
    }
}
.footer {
    &__container {
        display: flex;
        gap: 140px;
        height: 200px;
        padding: 20px 250px;
        @media (max-width: 426px) {
            max-width: 425px;
            width: 100%;
            gap: 5px;
            padding: 30px 75px;
            display: block;
        }
    }
    &__block {
        font-size: 22px;
        font-weight: 700;
        p {
            padding-top: 20px;
        }
        h2 {
            color: black;
        }
        a {
            color: black;
        }
    }
}